* {
    box-sizing: border-box;
}

#name {
	font-family: arial;
	font-size: 20px;
	color: #cccccc;
	height: 20px;
	padding: 0;
	margin: 0;
}

body {
    font-family: arial;
    margin: 0;
    padding: none;
	background-color: #101010;
	color: #cccccc;
}

footer {
    font-family: arial;
    font-size: 12px;
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: rgb( 233, 73, 154 );
}
a:visited {
    color: rgb( 110, 30, 71 );
}
a:hover {
    color: rgb( 252, 207, 230 );
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	position: relative;
    border: 0px none;
}
